
/* Paleta de cores */
:root {
  --primary-color: #023B0C;
  --secondary-color: white;
  --tertiary-color: platinum;
}

/* Definições gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin-bottom: 12px
}

/* Estilizando o menu de navegação */
nav ul {
  display: flex; /*Propriedade CSS poderosa para criar layouts responsivos e flexíveis em uma página da web*/
  line-height: 1.2em; /* Espaçamento entre as linhas do menu de navegação*/
}

nav li {
  margin-left: 20px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Estilos das seções */
section {
  padding: 50px;
}

section h2 {
  color: var(--primary-color);
  text-align: left;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section li {
  margin-bottom: 10px;
}

section a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Estilos da seção "Material de aula" */
section#material a {
  display: block;
  margin-bottom: 10px;
}

/* Estilos da seção "Professores" */
section#professores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.professor-box {
  background-color: var(--tertiary-color);
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  justify-content: center; /* centraliza as imagens */
  margin:40px; /* adiciona espaço entre as imagens */
}

.professor-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Estilos da seção "Alunos" */
section#alunos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
    
}

.testimonial-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-box p {
  font-style: italic;
  font-size: 18px;
  margin: 0;
}

.testimonial-box h3 {
  margin: 10px 0 0 0;
}

/* Estilos da seção "Desafios Avaliativos" */
section#desafios ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

section#desafios li {
  margin: 0 20px;
}

section#desafios a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

section#desafios a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Estilos do rodapé */
footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer #map {
  width: 200px;
  height: 200px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

footer #map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  
  footer ul {
    margin-top: 20px;
  }
  
  footer #map {
    margin: 20px 0;
  }
}

.footer-left img {
    width: 30px;
    height: 30px;
  }
  






